<template>
  <header class="shadow w-screen">
    <nav>
            <router-link
              v-for="l in links"
              :key="l.title"
              :to="l.to"
              class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
            >{{ l.title }}</router-link>
    </nav>
  </header>
</template>

<script>

export default {
  name: 'headerNavigator',
  props: {
    links: {
      type: Array,
      default: () => []
    }
  }
}
</script>
