<template>
  <main>
    <header-navigator :links="links" />
    <router-view/>
  </main>
</template>

<script>
import headerNavigator from '@/components/headerNavigator'

export default {
  name: 'app',
  components: { headerNavigator },

  data() {
    return {
      links: [
        {
          title: 'Home',
          to: { name: 'home'}
        }
      ]
    }
  }
}
</script>