<template>
  <div>
      <h2>Character Details</h2>
      <div v-if="data!=null">
          <ul>
            <li>
                Nombre: {{ data.name }}
            </li>
            <li>
                Titulo: {{ data.house }}
            </li>
            <li v-if="data.book && data.book.length != []">
                libro: <span v-for="i in data.books" :key="i">{{ i }}, </span>
            </li>
            <li v-if="data.titles && data.titles.length">
                Titulo: <span v-for="i in data.titles" :key="i">{{ i }}, </span>
            </li>
          </ul>
      </div>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
    name: 'CharacterDetail',
    props: {
        id: {
            type: String,
            default: () => null
        }
  },

  data() {
    return {
        data: null
    }
  },

  async created() {
    this.isLoading = true
  },
  async mounted(){
    await api
      .getCharacterById(this.id)
      .then(character => {
            this.data =  character;
      })
      .finally(() => (this.isLoading = false))
  },
    methods: {
      pagination(){
        this.totalItemPag = this.totalItemPag+10;
      }
  }
}
</script>