<template>
  <div>
    <h1>Personajes de Got</h1>
    <a v-on:click="pagination()">Cargar 10 mas </a>
    <p>Items mostrados: {{ totalItemPag }}</p>
    <ul v-if="!isLoading">
        <li v-for="c in data.slice(0,totalItemPag)" :key="`${c._id}`" >
            {{ `${c.name} - ${c.house != undefined ? c.house: 'No es noble'} -` }}

            <router-link :to="{ name: 'character-detail', params: { id: c._id } }">
                Mas detalle
            </router-link>
        </li>
    </ul>
    <h2 v-else>...Cargando</h2>
  </div>
</template>

<script>
import api from '@/services/api'
export default {
  name: 'Home',
  data() {
    return {
      isLoading: false,
      data: [],
      totalItemPag: 10
    }
  },

  async created() {
    this.isLoading = true

    await api
      .getAllCharacter()
      .then(characters => {
            this.data =  characters;
      })
      .finally(() => (this.isLoading = false))
  },
    methods: {
      pagination(){
          this.totalItemPag = this.totalItemPag+10;
      }
  }
}
</script>

<style>

</style>